body,
html,
#root {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
 
::-webkit-scrollbar {
  width: 6px;
  transition: opacity 0.3s ease;
}
 
::-webkit-scrollbar-track {
  background: #b6b6b6;
}
 
::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}
 
::-webkit-scrollbar-thumb:active {
  background: #183f7c;
}